#back-top {
  position: sticky;
  bottom: 32px;
  left: 32px;
  border-radius: 3px;
  box-shadow: 0 0 10px #00000035;
  background: white;
  text-decoration: none;
  display: none;

  &.visible {
    display: block;
  }
}

html {
  scroll-behavior: smooth;
}